// colors
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:500|Roboto:500');

// colors
$white: #ffffff;
$black: #000000;
$mineShaft: #333333;
$dustyGray: #999999;
$alto: #DADADA;

// fonts
$roboto: 'Roboto', sans-serif;
$firaSans: 'Fira Sans', sans-serif;

// other
$default-transition: all 0.3s ease;